@font-face {
  font-family: 'TRJN DaVinci Italic';
  src: url('../fonts/TRJN-DaVinci-Italic-Display.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../fonts/NeueHaasDisplayRoman.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../fonts/NeueHaasDisplayMediu.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../fonts/NeueHaasDisplayBold.ttf');
  font-style: normal;
  font-weight: 700;
}